name: Continuous Delivery
on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write  # needed to create/upload release
  id-token: write  # needed for attestations
  attestations: write  # needed for attestations

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version: "1.26.0"

      - name: Download Syft (to generate SBOMs)
        uses: anchore/sbom-action/download-syft@v0.22.2

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6.4.0
        with:
          # either 'goreleaser' (default) or 'goreleaser-pro'
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/attest-build-provenance@v3.2.0
        with:
          subject-checksums: ./dist/checksums.txt
