name: Release security patch release

on:
  workflow_dispatch: { }
  schedule:
    - cron: "0 4 */2 * *"

jobs:
  release-security-patch-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: '0'  # required by anothrNick/github-tag-action
      - name: Download latest Linux release
        uses: robinraju/release-downloader@daf26c55d821e836577a15f77d86ddc078948b05 # v1
        with:
          repository: ${{ github.repository }}
          latest: true
          fileName: '*_linux_amd64'
          out-file-path: 'latest-release'  # auto-creates the folder
      - name: Scan Linux release for vulnerabilities
        id: scan_latest_release
        uses: anchore/scan-action@568b89d27fc18c60e56937bff480c91c772cd993 # v7
        with:
          path: "latest-release"
          fail-build: true
          severity-cutoff: negligible
          output-format: table
        continue-on-error: true

      # If we found vulnerabilities, create a build for the default branch, where the vulnerabilities might be fixed
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: "1.25.6"
        if: steps.scan_latest_release.outcome == 'failure'

      - name: Verify dependencies
        run: go mod verify
        if: steps.scan_latest_release.outcome == 'failure'

      - name: Build
        run: mkdir latest-build && go build -o latest-build/directory-checksum main.go
        if: steps.scan_latest_release.outcome == 'failure'

      - name: Scan built Linux binary for vulnerabilities
        id: scan_latest_build
        uses: anchore/scan-action@568b89d27fc18c60e56937bff480c91c772cd993 # v7
        with:
          path: "latest-build"
          fail-build: true
          severity-cutoff: negligible
          output-format: table
        continue-on-error: true
        if: steps.scan_latest_release.outcome == 'failure'

      # If the latest build has no vulnerabilities anymore, it makes sense to create a new patch-release automatically
      - name: Bump version and push tag
        if: steps.scan_latest_build.outcome == 'success'
        uses: anothrNick/github-tag-action@4ed44965e0db8dab2b466a16da04aec3cc312fd8 # 1.75.0
        env:
          # Note: we use a custom PAT, because secrets.GITHUB_TOKEN has a limitation that tags pushed with it
          # will NOT trigger workflows that are configured for "on -> push -> tags")
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          WITH_V: true
          DEFAULT_BUMP: "patch"
          FORCE_WITHOUT_CHANGES: true
